.icon
    display: inline-block
    width: 20px
    height: 20px
    background-size: 20px 20px

    .heart_black
        background: url('../svg/heart.svg')

    .heart_red
        background: url('../svg/heart_red.svg')

    .menu
        background: url('../svg/menu.svg')

    .fire
        background-image: url('../svg/fire.svg')

    .fire-action
        background-image: url('../svg/fire-active.svg')
