.card-event {
  color: #fff;
  position: relative;
  padding: 10px;
  margin: 10px;
  height: 250px;
}
.card-event__title {
  margin-top: 0px;
  padding-bottom: 20px;
}
.overlay {
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
}
.card-event__description {
  position: relative;
  z-index: 2;
}
